Django>=4.0.4
django-environ==0.8.1
numpy==1.26.4
pytest==7.1.1
pytest-django==4.5.2
psycopg2-binary
django-bootstrap-v5==1.0.11
plotly==5.9.0
joblib==1.1.0
scikit-learn
pandas
djangorestframework
drf-yasg
django-redis