{% extends 'players/base.html' %}
{% block content %}
    <div>
    <label for="exampleDataList" class="form-label">Choose club</label>
    <form class="d-flex" method=GET action="{% url 'players-in-club' %}">

        {% csrf_token %} 
        <input class="form-control mr-sm-2" list="datalistOptions" id="exampleDataList" placeholder="Search club" aria-label="Search" name="searched_club">
    <datalist id="datalistOptions">
    {% for club in clubs %}
    <option value="{{club.club}}">
    {% endfor %}
    </datalist>
<button class="btn btn-lg btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>

</div>
{% endblock %}