{% extends 'players/base.html' %}
{% block content %}

{% if searched %}
<div class="shadow p-2 mb-2 bg-body rounded">
<h2>{{ club_name }}</h2>

<p>Current year: {{ year }}</p>
</div>
<div class="d-flex">
    <div class="form-group">
        <div class="input-group">

            <form class="d-flex" action="">
                <select required class="form-select" name="year" aria-label="Default select example">
                    <option selected="true" disabled="disabled" value="" hidden>Choose year</option>
                    {% for year in years %}
                    <option>{{ year }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">

                <button class="btn btn-lg btn-primary my-2 my-sm-0" type="submit">Click</button>
                </span>
            </form>
            
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Long name</th>
            <th scope="col">Nationality</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}

        <tr>
            <th scope="row"><a href="{% url 'player-detail' player.id %}">{{ player.short_name }}</a></th>
            <td>{{ player.long_name }}</td>
            <td>{{ player.nationality }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>You searched for nothing...</h1>
{% endif %}

{% endblock %}