{% extends 'players/base.html' %}
{% block content %}

{% if searched %}
<h2>{{ club_name }}</h2>
<p>Current year: {{ year }}</p>

<div class="btn-group">


    

    <form action="">
        <select name="year">
            <option disabled=true selected>Choose year</option>
            {% for year in years %}
            <option>{{ year }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="click">
    </form>
    
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Long name</th>
            <th scope="col">Nationality</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}

        <tr>
            <th scope="row"><a href="{% url 'player-detail' player.id %}">{{ player.short_name }}</a></th>
            <td>{{ player.long_name }}</td>
            <td>{{ player.nationality }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>You searched for nothing...</h1>
{% endif %}

{% endblock %}