{% extends 'players/base.html' %}
{% block content %}

{% if searched %}
<div class="shadow p-2 mb-2 bg-body rounded">
<h2>{{ club_name }}</h2>
<p>Year: {{ last_year }}</p>
</div>

<div class="btn-group">
    {% if user.is_authenticated %}

    <a class="btn btn-primary" href="{% url 'players-in-club-year'  %}" role="button">Click to active other years!</a>

    {% else %}
    <div class="shadow p-3 mb-5 bg-body rounded">
      <p class="mb-3 fw-normal">Sign in or register to find previous years!</p>
      <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
      <a class="btn btn-primary" href="{% url 'register' %}" role="button">Register</a>
    </div>
    {% endif %}



    
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Long name</th>
            <th scope="col">Nationality</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}

        <tr>
            <th scope="row"><a href="{% url 'player-detail' player.id %}">{{ player.short_name }}</a></th>
            <td>{{ player.long_name }}</td>
            <td>{{ player.nationality }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>You searched for nothing...</h1>
{% endif %}

{% endblock %}
